body {
	font-family: Tahoma;
	font-size: 11pt;
}

th {
	font-size: 13pt;
}

input {
	border: 1px dotted #00ffff;
	padding: 5px;
	background: #e0ffff;
	width: 260px;
}

input:focus {
	border: 1px solid #0000ff;
	background: yellow;
}

table {
	border-collapse: collapse;
}

td {
	padding: 5px;
}

button {
	border: 1px solid #20b2aa;
	padding: 5px;
	background: #00ff00;
}